# Backend - API de Pagamento
API_KEY=SEU_TOKEN_40_CARACTERES

# User Agent (fornecido pelo gerente)
USER_AGENT=meu-app/1.0

# Webhook Buckpay
WEBHOOK_SECRET=token_webhook_aqui

# Frontend - Domínio real
CHECKOUT_DOMAIN=https://www.acessobrasileiras.shop

# Configurações
MAX_AGE=18