# Backend - Buckpay API
BUCKPAY_API_KEY=SUA_API_KEY
AUTO_PAY_ENABLED=true

# Frontend - Domínio (opcional, para redirecionamento)
# Se leave vazio, usará localhost/localhost
CHECKOUT_DOMAIN=localhost

# Outras configurações
MAX_AGE=18
